@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(212, 212, 255, 1);

  color: rgba(34, 34, 34, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.d-header.is-open .d-header-background {
  left: 0;
}
.d-header-button-wrapper {
  margin-left: auto;
}
.d-header-icon {
  display: none;
}

.d-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.d-navigation-list.is-open {
  right: 0;
}
.d-header-icon-menu {
  display: block;
}

.d-header-icon-button.is-open .d-header-icon-menu {
  display: none;
}

.d-header-icon-button.is-open .d-header-icon-close {
  display: block;
}

.d-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 48px;
  background: rgba(34, 34, 116, 1);
}

.d-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(34, 34, 116, 1);
}
.d-header.is-open .d-header-background {
  left: 0;
}
.d-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.d-header-icon-menu {
  display: block;
}

.d-header-icon-button.is-open .d-header-icon-menu {
  display: none;
}

.d-header-icon-button.is-open .d-header-icon-close {
  display: block;
}

.d-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px 15px;
  position: relative;
}

.d-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 32px;
  border-radius: 0px 0px 20px 20px;
  gap: 8px;
  background: rgba(34, 34, 116, 1);
}

.d-navigation-list.is-open {
  right: 0;
}

.d-navigation-link {
  font-family: Archivo Narrow;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  width: 180px;
  text-align: center;
  display: block;
  border-radius: 12px;
  padding: 10px 0;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(248, 248, 255, 1);
}
.d-navigation-item-desk {
  font-family: Archivo Narrow;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}
.d-navigation-link:hover,
.d-navigatioт-link:focus {
  text-decoration: none;
  border: 1px solid rgba(252, 209, 54, 1);
}

.d-header.is-open {
  background-color: transparent;
}

.d-navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .d-navigation-img {
    display: flex;
  }
  .d-policy-terms-header-icon-menu {
    display: none;
  }

  .d-header {
    width: 100%;
    height: 63px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .d-header-background {
  }
  .d-header-icon-button {
    display: none;
  }
  .d-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .d-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 20px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .d-navigation-link {
    width: 140px;
    margin: 0 30px;
    text-decoration: none;
    font-family: Archivo Narrow;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .d-navigation-link:hover,
  .d-navigation-link:focus {
    color: #ffffff;
  }

  .d-navigation-item-desk {
    display: none;
  }
}
.d-home {
  width: 375px;
  height: 812px;
  padding: 374px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/1_home_mob.png");
  margin: auto;
}

.d-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.d-home-title {
  font-family: Aclonica;
  font-weight: 400;
  font-size: 49.25px;
  line-height: 100%;
  letter-spacing: -2px;
  text-shadow: 0px 2.81px 73.17px rgba(148, 68, 14, 1),
    1.41px 1.41px 1.41px rgba(255, 156, 90, 1);

  color: rgba(255, 248, 236, 1);
  padding-bottom: 218px;
}

.d-home-text {
}

.d-home-google-button-image {
  width: 280px;
  height: 80px;
}

.d-home-google-button-link:hover .d-home-google-button-image {
  content: url("/img/home/11.png");
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .d-home {
    width: 1440px;
    height: 900px;
    padding: 439px 0px 0px;
    background-image: url("/img/home/1_home.png");
  }

  .d-home-title {
    font-family: Aclonica;
    font-weight: 400;
    font-size: 70px;
    padding-bottom: 40px;
  }
}
.d-why {
  width: 375px;
  margin: auto;
  padding: 0px 16px 40px;
}

.d-why-list {
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.d-why-item {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}

.d-why-text-bold {
  font-family: Archivo Narrow;
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .d-why {
    width: 1440px;
    padding: 30px 189px 64px;
  }
  .d-why-list {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .d-why-item {
    display: flex;
    gap: 24px;
    flex-direction: row;
    align-items: center;
  }
  .d-why-item-two {
    flex-direction: row-reverse;
  }
  .d-why-text-bold {
    font-family: Archivo Narrow;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
  }
}

.d-about {
  padding: 0px 16px 0px;
  margin: auto;
  width: 375px;
  height: 1481px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/4_aboutTheApp_mob.png");
}

.d-about-title {
  background-image: url("/img/page_title.png");
  font-family: Aclonica;
  font-weight: 400;
  font-size: 32px;

  letter-spacing: -2px;
  color: rgba(252, 209, 54, 1);
  width: 375px;
  height: 142px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -16px;
}

.d-about-text {
  font-family: Archivo Narrow;
  font-weight: 500;
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  margin-top: -8px;
}

.d-about-text-bold {
  font-family: Archivo Narrow;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  padding: 312px 0 313px;
  color: rgba(107, 31, 114, 1);
}
.d-about-text-bold-two {
  font-family: Archivo Narrow;
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .d-about {
    padding: 20px 0px 0;
    width: 1440px;
    height: 791px;
    background-image: url("/img/4_aboutTheApp.png");
  }
  .d-about-title {
    background-image: url("/img/page_title\ \(1\).png");
    font-family: Aclonica;
    font-weight: 400;
    font-size: 40px;
    width: 1142px;
    height: 160px;

    margin: auto;
  }
  .d-about-title-two {
    background-image: url("/img/page_title\ \(4\).png");
  }
  .d-about-text {
    font-family: Archivo Narrow;
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    padding: 0 382px;
    margin-top: -8px;
  }

  .d-about-text-bold {
    font-family: Archivo Narrow;
    font-weight: 500;
    font-size: 27px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;

    padding: 16px 491px 6px;
  }
  .d-about-text-bold-two {
    font-family: Archivo Narrow;
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    padding: 0 515px;
  }
}

.d-reviews {
  width: 375px;
  margin: auto;
  padding: 0px 16px 40px;
  background: rgba(34, 34, 116, 1);
}

.d-reviews-list {
  padding: 0px 0 24px;
}

.d-reviews-item {
  margin: 0 5px;
}
.d-reviews-item-two {
  margin-top: 24px;
  width: 303px;
  gap: 8px;
  border-radius: 12px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  background: rgba(212, 212, 255, 1);
}
.d-reviews-item-top {
  display: flex;
  gap: 8px;
  align-items: center;
}

.d-reviews-text-bold {
  font-family: Archivo Narrow;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.d-reviews-text {
  font-family: Archivo Narrow;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  padding-top: 8px;
}
.slick-dots {
  display: flex;
  justify-content: center;
}

.slick-dots li {
  list-style: none;
  width: 20px;
  height: 20px;
}

.slick-dots li button {
  width: 100%;
  height: 100%;
  border: none;
  background: url("/img/Ellipse\ 2.png") no-repeat center/cover;
  padding: 0;
  font-size: 0;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li.slick-active button {
  background: url("/img/Ellipse\ 1.png") no-repeat center/cover;
}

@media screen and (min-width: 1200px) {
  .d-reviews {
    width: 1440px;
    padding: 30px 80px 64px;
  }
  .d-reviews-list {
    padding: 0;
  }

  .d-reviews-item {
    margin: 0 11px;
  }

  .slick-dots li {
    display: none;
  }
}

.d-gallery {
  width: 375px;
  margin: auto;
  padding: 0px 16px 40px;
  background: rgba(34, 34, 116, 1);
}

.d-gallery-list {
  padding-bottom: 24px;
}

.d-gallery-item {
  width: 340px;
  height: 158px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.d-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.slick-prev:before,
.slick-next:before {
  display: none;
}

.slick-next {
  right: 0px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .d-gallery {
    width: 1440px;
    padding: 30px 130px 64px;
  }

  .d-gallery-item {
    width: 800px;
    height: 373px;

    margin: 0 10px;
  }

  .d-gallery-list {
    padding: 20px 0 0px;
  }
  .slick-prev:before {
    content: url("/img/gallery/arrow_left.png");
    display: flex;
    margin-left: -64px;
  }
  .slick-next {
    display: block;
  }
  .slick-next:before {
    content: url("/img/gallery/arrow_right.png");
    display: flex;
    margin-left: 20px;
  }
}

.d-features {
  width: 375px;
  margin: auto;
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.d-features-text-bold {
  font-family: Aclonica;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -1px;
  text-align: center;
  color: rgba(34, 34, 116, 1);
  border-bottom: 5px solid;

  border-image-source: linear-gradient(
    270deg,
    #d4d4ff 5%,
    #6b1f72 50%,
    #d4d4ff 95%
  );
  border-image-slice: 1;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.d-features-text {
  background: rgba(107, 31, 114, 1);

  padding: 16px;
  font-family: Archivo Narrow;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -2%;
  text-align: center;
  color: rgba(248, 248, 255, 1);
  margin-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .d-features {
    width: 1440px;
    padding: 64px 0;
  }

  .d-features-text-bold {
    font-family: Aclonica;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -4%;
    text-align: center;
    border-image-source: linear-gradient(
      270deg,
      #d4d4ff 5%,
      #6b1f72 50%,
      #d4d4ff 95%
    );

    padding-bottom: 24px;
    margin-bottom: 40px;
  }

  .d-features-text {
    background: rgba(107, 31, 114, 1);

    padding: 16px 170px;
    font-family: Archivo Narrow;
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: -2%;
    text-align: center;

    margin-bottom: 40px;
  }
}

.d-policy-terms-container {
  padding: 124px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Archivo Narrow;
  font-weight: 400;
  font-size: 16px;

  letter-spacing: 0%;
}

.d-policy-terms-title {
  background-image: url("/img/page_title.png");
  font-family: Aclonica;
  font-weight: 400;
  font-size: 32px;

  letter-spacing: -2px;
  color: rgba(252, 209, 54, 1);
  width: 375px;
  height: 142px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -16px;
}

.d-policy-terms-text {
  padding-top: 20px;
  font-family: Archivo Narrow;
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: 0%;
  color: rgba(34, 34, 116, 1);
}

.d-policy-terms-texts {
  padding-top: 8px;
}

.d-policy-terms-text-one {
  padding-top: 20px;
}

.d-terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.d-terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}

.d-email-link {
  color: inherit;
  text-decoration: none;
}

.d-email-link-color {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .d-policy-terms-container {
    padding: 120px 100px 60px;
    width: 1440px;
    font-family: Archivo Narrow;
    font-weight: 400;
    font-size: 16px;
  }

  .d-policy-terms-title {
    background-image: url("/img/page_title\ \(1\).png");
    font-family: Aclonica;
    font-weight: 400;
    font-size: 40px;
    width: 1142px;
    height: 160px;

    margin: auto;
  }
  .d-policy-terms-text {
    padding-top: 40px;
    font-family: Archivo Narrow;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
  }

  .d-policy-terms-text-one {
    padding-top: 30px;
  }

  .d-terms-list {
    padding: 20px 0 20px 25px;
  }
}
.d-footer {
  width: 375px;
  margin: auto;
  color: #ffffff;
  background: rgba(34, 34, 116, 1);

  padding: 40px 0px;
}

.d-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.d-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.d-footer-text {
  font-family: Archivo Narrow;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;

  color: #ffffff;
}

.d-footer-copyright {
  font-family: Archivo Narrow;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .d-footer {
    width: 1440px;
  }

  .d-footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 48px;
  }

  .d-footer-text {
    font-family: Archivo Narrow;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .d-footer-copyright {
    font-family: Archivo Narrow;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.d-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 40px 26px;
  background: rgba(34, 34, 116, 1);

  z-index: 1000;
  display: none;
}

.d-cookie-popup-text-two {
  font-family: Archivo Narrow;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;

  color: rgba(248, 248, 255, 1);
}

.d-cookie-button-container {
  padding: 24px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.d-cookie-button {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid rgba(252, 209, 54, 1);
  width: 141px;
  padding: 10px 0;
  font-family: Archivo Narrow;
  font-weight: 500;
  font-size: 16px;
  color: rgba(248, 248, 255, 1);
  letter-spacing: 0%;
  text-transform: uppercase;
  text-align: center;
}

#accept-cookies {
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgba(252, 209, 54, 1);
  color: rgba(34, 34, 34, 1);
  border-radius: 12px;
}

.d-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .d-cookie-popup-text-two {
    font-family: Archivo Narrow;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
  }

  .d-cookie-button-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 80px;
  }

  .d-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px;
    display: none;
  }
}
